
@{
    ViewBag.Title = "CycleFirstTimePass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="content animate-panel">
        <div class="row">
            <div class="col-md-4">
                
            </div>
            <div class="col-md-8 pull-right">
                <span class="font-extra-bold">Select Cycles</span>
                <select class="js-example-basic-multiple" id="cycles" multiple="multiple" style="min-width: 400px;"></select>
            </div>
        </div>
        <div class="row">
            <p></p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel hgreen">
                    <div class="panel-heading hbuilt">
                        <div class="pull-right">                            
                            <a class="btn btn-default btn-xs" id="ftpshow">Show Series</a>
                            <a class="btn btn-default btn-xs" id="ftphide">Hide Series</a>
                        </div>
                        First Time Pass Percentage
                    </div>
                    <div class="panel-body">
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>

        </div>
        <div>
            @Html.Partial("Information")
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/Content/css/select2.css" />
}


@section Scripts {
    <script src="~/Scripts/select2.js"></script>

    <script type="text/javascript">
        $.getJSON('/Dashboard/GetCycles',
            function (data) {
                $('.js-example-basic-multiple').select2({
                    data: data
                });
            });
    </script>
}