
@{
    ViewBag.Title = "ExecutionData";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lastUpdated = ViewBag.LastUpdated;
}


<div class="content">
    <div class="content animate-panel">
        <span class="pull-right">
            Last Updated On: @lastUpdated
        </span>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel hgreen">
                    <div class="panel-heading">
                        Execution Raw Data
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="example" class="display table table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th>WeekStartDate</th>	<th>WeekEndDate</th>	<th>CalenderWeek</th>	<th>Project</th>	<th>Application</th>	<th>ProgramInitiative</th>	<th>TotalFirstTimeRuns</th>	<th>TotalFirstTimePassedRuns</th>	<th>TotalFirstTimeFailedRuns</th>	<th>TotalRuns</th>	<th>TotalPassedRuns</th>	<th>TotalFailedRuns</th>	<th>TotalReRuns</th>	<th>TotalReRunPassed</th>	<th>TotalReRunFailed</th>	<th>PercentFirstRunPassed</th>	<th>PercentFirstRunFailed</th>	<th>PercentageTotalRunsPassed</th>	<th>PercentageTotalRunsFailed</th>	<th>PercentageReRunPassed</th>	<th>PercentageReRunFailed</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>WeekStartDate</th>	<th>WeekEndDate</th>	<th>CalenderWeek</th>	<th>Project</th>	<th>Application</th>	<th>ProgramInitiative</th>	<th>TotalFirstTimeRuns</th>	<th>TotalFirstTimePassedRuns</th>	<th>TotalFirstTimeFailedRuns</th>	<th>TotalRuns</th>	<th>TotalPassedRuns</th>	<th>TotalFailedRuns</th>	<th>TotalReRuns</th>	<th>TotalReRunPassed</th>	<th>TotalReRunFailed</th>	<th>PercentFirstRunPassed</th>	<th>PercentFirstRunFailed</th>	<th>PercentageTotalRunsPassed</th>	<th>PercentageTotalRunsFailed</th>	<th>PercentageReRunPassed</th>	<th>PercentageReRunFailed</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="hpanel panel-group">
                
                <div class="panel-body">
                    <div class="text-center text-muted font-bold">Execution Data Details</div>

                </div>

                <div id="notes" class="collapse">

                    <div class="panel-body note-link">
                        <a href="#note1" data-toggle="tab">                            
                            <h5>First Time Pass Fail Percentage</h5>
                        </a>
                    </div>

                    <div class="panel-body note-link">
                        <a href="#note2" data-toggle="tab">
                            <h5>
                                Total Pass Fail Percentage
                            </h5>
                        </a>
                    </div>

                    <div class="panel-body note-link">
                        <a href="#note3" data-toggle="tab">
                            <h5>
                                Re-Run Pass Fail Percentage
                            </h5>
                        </a>
                    </div>

                </div>



            </div>
        </div>
        <div class="col-md-9">
            <div class="hpanel">

                <div class="panel-body">

                    <div class="tab-content">
                        <div id="note1" class="tab-pane active">
                            <h3>First Time Pass Fail Percentage</h3>
                            <hr />
                            <div class="note-content">
                                <span>First execution run status of a Test Instance executed in the given time period. This alos implies the number of Test Instances that are executed for the first time in the given time period.</span>
                            </div>
                        </div>

                        <div id="note2" class="tab-pane">
                            <h3>Total Pass Fail Percentage </h3>
                            <hr />
                            <div class="note-content">
                                <span>Total Runs in the given time period with status Passed/Failed. All other execution status are ignored.</span>
                            </div>
                        </div>

                        <div id="note3" class="tab-pane">
                            <h3>Re-Run Pass Faill Percentage </h3>
                            <hr />
                            <div class="note-content">                                                                    
                                    <span>Total Runs - Total First Runs</span>                                
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

@section Styles {
    @Styles.Render("~/bundles/datatables/css")
}


@section Scripts{
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")

    <script>
        $(document).ready(function () {
                var dtTable = $('#example').dataTable({
                    "ajax": {
                        "url": "/Dashboard/LoadExecutionPIWeekly",
                        "type": "GET",
                        "datatype": "json"
                    },
                    dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>tp",
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    buttons: [
                        { extend: 'copy', className: 'btn-sm' },
                        { extend: 'csv', title: 'ExampleFile', className: 'btn-sm' },
                        { extend: 'pdf', title: 'ExampleFile', className: 'btn-sm' },
                        { extend: 'print', className: 'btn-sm' }
                    ],
                    "pageLength": 10,
                    "columns": [
                        { "data": "WeekStartDate", "autoWidth": true }, { "data": "WeekEndDate", "autoWidth": true }, { "data": "CalenderWeek", "autoWidth": true }, { "data": "Project", "autoWidth": true }, { "data": "Application", "autoWidth": true }, { "data": "ProgramInitiative", "autoWidth": true }, { "data": "TotalFirstTimeRuns", "autoWidth": true }, { "data": "TotalFirstTimePassedRuns", "autoWidth": true }, { "data": "TotalFirstTimeFailedRuns", "autoWidth": true }, { "data": "TotalRuns", "autoWidth": true }, { "data": "TotalPassedRuns", "autoWidth": true }, { "data": "TotalFailedRuns", "autoWidth": true }, { "data": "TotalReRuns", "autoWidth": true }, { "data": "TotalReRunPassed", "autoWidth": true }, { "data": "TotalReRunFailed", "autoWidth": true }, { "data": "PercentFirstRunPassed", "autoWidth": true }, { "data": "PercentFirstRunFailed", "autoWidth": true }, { "data": "PercentageTotalRunsPassed", "autoWidth": true }, { "data": "PercentageTotalRunsFailed", "autoWidth": true }, { "data": "PercentageReRunPassed", "autoWidth": true }, { "data": "PercentageReRunFailed", "autoWidth": true }
                    ],
                    initComplete: function () {
                        this.api().columns().every(function () {
                            var column = this;
                            if (column.header().innerText !== 'Edit Data' && column.header().innerText !== 'Data') {
                                var select = $('<select><option value=""></option></select>')
                                    .appendTo($(column.footer()).empty())
                                    .on('change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );

                                        column
                                            .search(val ? '^' + val + '$' : '', true, false)
                                            .draw();
                                    });

                                column.data().unique().sort().each(function (d, j) {
                                    select.append('<option value="' + d + '">' + d + '</option>')
                                });
                            }
                        });
                    }
            });
            });
    </script>
}

